.header-navigation {
    width: 100%;
    max-height: 512px;
    height: 80vh;
    color: white;
    background-color: rebeccapurple;
    /*background-image: url("../img/header-navigation__background.jpg");*/
}

.header-navigation__info {
    display: inline-block;
    width: 100%;
}
.header-navigation__logo {
    float: left;
    width: 240px;
    height: 111px;
    background-image: url("../img/header-navigation__logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.header-navigation__phone {
    float: right;
    line-height: 111px;
    margin-right: 5px;
}

.header-navigation__phone-icon {
    height: 18px;
    width: 18px;
    margin-right: 5px;
    position: relative;
    top: 3px;
    fill: white;
}

.header-navigation__phone-number {

}

.header-navigation__motto {
    padding-top: 13%;
    text-align: center;
}

.header-navigation__slogan {
    text-align: center;
}