.carousel {
  position: relative;
  margin: auto;
  height: 512px;
  width: inherit;
  background-color: #4f005e;

  &__image {
    width: 100%;
    height: inherit;
    position: absolute;
    opacity: 1;
  }

  &__caption {
    font-size: 15px;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 90%;
  }

  &__button {
    cursor: pointer;
    position: absolute;
    top: 55%;
    width: 50px;
    color: transparent;
    height: 35px;
    border-radius: 8px;
    border: none;
    background: no-repeat center;
    //
    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }

    &_prev {
      margin-left: 4px;
      background-image: url("../img/carousel_pics/ic_keyboard_arrow_left_black_24px.svg");

    }

    &_next {
      margin-right: 4px;
      right: 0;
      background-image: url("../img/carousel_pics/ic_keyboard_arrow_right_black_24px.svg");

    }
  }
}