.products__checkboxes_container {
  display: inline-block;

}

.products__checkbox_label {
  background-color: #c9abc9;
  display: inline-block;
  font-size: 0.95rem;
  line-height: 1.5rem;
  padding: 5px 6px;

}

.products__checkbox_label:hover {
  background-color: purple;
  color: #eee;


}

.products__checkbox {
  float: left;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  //visibility: hidden;

}

