@smartphones: ~"only screen and (max-width: 479px)";

.header-navigation {
  width: 100%;
  max-height: 512px;
  height: 80vh;
  color: white;
  //background-color: rebeccapurple;
  background: url("../img/header-navigation__background.jpg") no-repeat center center;


  &__logo {
    float: left;
    width: 240px;
    height: 111px;
    background-image: url("../img/header-navigation__logo.svg");
    background-size: contain;
    @media @smartphones {
      float: none;
      display: block;
      margin: auto;
    }
  }
  &__phone {
    float: right;
    margin-top: 4%;
    margin-right: 4%;
    @media @smartphones {
      float: none;
      display: block;
      text-align: center;
      margin-left: 0;
    }
  }
  &__phone-icon {
    height: 18px;
    width: 18px;
    margin-right: 5px;
    position: relative;
    top: 3px;
    fill: white;
  }

  &__text {
    clear: both;
    text-align: center;
    padding-top: 19%;

  }
  &__caption {
    display: block;
    color: black;

    &_motto {
      font-weight: bold;

    }
    &_slogan {

    }
  }

}


