.ingredients {
  font-size: 0.7rem;
  font-weight: bold;
  margin-top: 3px;
  margin-bottom: 3px;

  &-list {
    height: 118px;
    border-bottom: 1px solid #ddd;

  }

  &__checkbox-container {
    margin-bottom: 5px;
    line-height: 21px;

  }

  &-checkbox {
    height: 18px;
    width: 18px;
    float: left;

  }

  &-label {
    font-size: 0.7rem;
    font-weight: bold;
    position: relative;
    top: 3px;


  }

  &-price {
    float: right;
    color: #563066;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 3px;
  }

  &-currency {
    font-size: 0.6em;

  }

}