.products {

  &__checkboxes_wrapper {
    text-align: center;
  }

  &__checkbox_label {
    background-color: #c9abc9;
    display: inline-block;
    font-size: 1rem;
    line-height: 2.4rem;
    padding: 5px 7.8px 5px 2px;
  }

  &__checkbox_label:hover {
    background-color: purple;
    color: #eee;
  }

  &__checkbox {
    float: left;
    width: 18px;
    height: 18px;
    margin: 10px 4px 10px 3px;
  }

  &__main {
    text-align: center;
  }

}








