@brandDark: #563066;
@brandLight: #aaa8d4;
@brandBeige: #ede0c0;


.product {
  width: 225px;
  margin: 5px;
  height: 470px;
  display: inline-block;
  vertical-align: top;
  box-shadow: 0 0 10px #aaa;
  background-color: #f8f8f8;
  text-align: left;


  &__image {
    width: 100%;
  }

  &-text {
    padding: 2px 15px;
  }

  &__title {
    color: @brandDark;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.4em;
    min-height: 38px;
    margin: 0;
    border-bottom: 1px solid #dddddd;
  }

  &__price {
    color: @brandDark;
    font-weight: bold;
    border-bottom: 1px solid #dddddd;

    &-tag {
      font-size: 1.6rem;
    }

    &-currency {
      font-size: 0.8rem;
      margin-left: 5px;
    }
  }

  &__weight {
    display: none;
    color: #646464;
    float: right;
    font-size: 0.8rem;
    margin-top: 13px

  }

  &__composition {
    font-size: 0.6rem;
    font-weight: bold;
    line-height: 0.9rem;
    border-bottom: 1px solid #dddddd;
    height: 30px;

    &-list {
      color: #646464;
      font-weight: normal;
      text-align: justify;
    }
  }
  &__buy-section {
    margin-top: 3px;
    text-align: center;
  }

  &__buy-button {
    background-color: #735980;
    color: #eeeeee;
    font-size: 0.75rem;
    font-weight: bold;
    height: 30px;
    width: 100px;
  }

  &__buy-button:hover {
    background-color: purple;

  }

  &__buy-button:active {
    background-color: #590059;

  }

}










