.products__checkboxes {

}

.products__main {
  text-align: center;
}

.product {
  width: 225px;
  margin: 5px;
  height: 520px;
  display: inline-block;
  vertical-align: top;
  box-shadow: 0 0 10px #aaa;
  background-color: white;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: left;

  &__buy {
    position: relative;
  }

  &__buy-button_wrapper {
    position: absolute;
    top: 473px;
    width: 100%;
    border-top: 1px solid #dddddd;
  }

  &__buy-button {
    background-color: purple;
    color: #eeeeee;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    width: 100px;
    margin: auto;
    margin-top: 8px;
  }

  &__image {
    width: 100%;
  }

  &-text {
    padding: 2px 15px;
  }

  &__caption {
    color: purple;
    letter-spacing: -0.5px;
    text-transform: uppercase;
    line-height: 1.4em;
    min-height: 38px;
    margin: 0;
    border-bottom: 1px solid #dddddd;

  }

  &__price {
    color: purple;
    font-weight: bold;
    border-bottom: 1px solid #dddddd;
  }

  &__price-tag {
    font-size: 1.8em;
    width: 100%;
  }

  &__price-currency {
    font-size: 0.9em;
    margin-left: 5px;

  }

  &__weight {
    display: none;
    color: #646464;
    float: right;
    font-size: 0.75rem;
    margin-top: 13px

  }

  &__composition {
    font-size: 0.8em;
    font-weight: bold;
    line-height: 1.4em;
    border-bottom: 1px solid #dddddd;

  }

  &__composition-list {
    color: #646464;
    font-weight: normal;
    text-align: justify;
  }

  &__extraIngredients {
    font-size: 0.8em;
    font-weight: bold;

    &-list {
      display: block;
      margin-top: 5px;
    }

    &__checkbox-wrapper {
      margin-top: 5px;
    }

    &-label {
      font-size: 0.8em;
      font-weight: bold;
    }

    &-price {
      float: right;
      color: purple;

    }


  }








}

.active {
  background-color: #dddddd;
}

.visible {
  display: block;
}









